body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-margin: 10px;
}
.navbar{
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}
.navbar .left{
    width: 20%;
}
.navbar .right{
    width: 20%;
    display: flex;
    justify-content: end;
}
.navbar .mid{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.navbar .mid a{
    width: 20%;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 35px;
    font-weight: 300;
    text-align: center;
}
.navbar .right a{
    width: 50%;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 35px;
    font-weight: 300;
    text-align: end;
    margin-right: 20px;
}
.navbar .right button{
    width: calc(30%);
    height: 40px;
    margin-top: 25px;
    color: white;
    background: black;
    border: none;
    border-radius: 10px;
}





.main{
    width: 100%;
    display: flex;

}
.main .left{
    width: 40%;

}
.main .left h1{
    font-size: 4rem;
    position: relative;
    left: 40.5%;
    letter-spacing: 2px;
    line-height: 20px;
 
}
.main .left p{
   position: relative;
   left: 40.5%;
   width: 50%;
}
.main .right {
    width: 60%;
}
.main .right img {
    width: 100%;
   height: 800px;
   animation: mainanimation;
   animation-duration: 2.5s;
 
   float: right;
 
}
.main .left button{
    width: calc(30%);
    height: 40px;
    margin-top: 25px;
    color: white;
    background: black;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 40.5%;
    text-transform: capitalize;
}
.main .left :first-child{
    margin-top: 20%;
}
@keyframes mainanimation {
    from{
        width: 0%;
        
    }
    to{
        width: 100%;
    }
}







.project {
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
}
.project p{
    text-transform: capitalize;
    text-align: center;
    width: 30%;
    margin-left: 35%;

}
.project h1{
    text-align: center;
    text-transform: capitalize;
}
.project .card-grp{
    display: flex;
    justify-content: space-between;
}
.project .card-grp .card{
    width: 30%;
    margin-top: 50px;
  
}
.project .card-grp .card img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.project .card-grp .card p{
    width: 90%;
    margin-left: 5%;
}
#project-show button{
    width: 10%;
    height: 40px;
    background:  black;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-left: 45%;
    margin-top: 50px;
    cursor: pointer;
}
#project-hide button{
    width: 10%;
    height: 40px;
    background:  black;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-left: 45%;
    margin-top: 50px;
    cursor: pointer;
}
#project-hide{
    display: none;
}







.rightimg{
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
}
.rightimg img{
    width: 45%;
    aspect-ratio: 1/1;
}
.rightimg h1{
    margin-top: 0;
    text-transform: capitalize;
    width: 50%;
}
.rightimg p{
    margin: 0;

}
.rightimg div{
    width: 45%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightimg p{
    width: 100%;
}











.leftimg{
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 200px;
}
.leftimg img{
    width: 45%;
    aspect-ratio: 1/1;
}
.leftimg h1{
    margin-top: 0;
    text-transform: capitalize;
    width: 50%;
}
.leftimg p{
    margin: 0;

}
.leftimg div{
    width: 45%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leftimg p{
    width: 100%;
}





.baner {
    width: 100%;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}
.baner p{
    color: white;
    width: 30%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
}
.baner h1{
    color: white;
    margin-top: 0;
    text-transform: capitalize;
}
.baner .grp {
    width: 70%;
    display: flex;
    justify-content: space-between;

}
.baner .grp div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.baner .grp div img {
    width: 20%;
    aspect-ratio: 1/1;
}
.baner .grp div p{
    width: 90%;
    text-align: center;

    text-transform: capitalize;

}
.baner .grp div h1{
    width: 50%;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    text-transform: capitalize;
}





.baner2{
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.baner2 p{
    text-transform: capitalize;
    text-align: center;
    color: white;
    margin: 0;
}
.baner2 h1{
    width: 20%;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}
.baner2 .grp {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.baner2 .grp div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baner2 .grp div img{
    width: 100%;
    aspect-ratio: 1/2;

}

.baner2 .grp div h1{
    color: white;
    width: 50%;
    text-transform: capitalize;
    font-size: 25px;
}
.baner2 .grp div p{
    color: white;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}




.about-btn{
    width: 5%;
    height: 40px;
    background:  black;
    border: 0;
    border-radius: 10px;
    color: white;

  
    cursor: pointer;
    display: block;
    text-transform: capitalize;
    position: relative;
    left: 53.5%;
    top: -350px;
}





.review{
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    position: relative;
    left: 35%;
    top: -400px;
}
.review p{
    color: white;
    width: 90%;
    margin-top: 0;
    text-transform: capitalize;

}
.review :nth-child(3){
    font-size: 16px;
    margin-top: 20px;
}
.review h1{
    color: white;
    width: 90%;
    margin-bottom: 0;
    text-transform: capitalize;
}
.review .star{
    width: 90%;
}
.review .star span{
    margin-right: 10px;
}
.review .checked {
    color: orange;
  }